[Unit]
Description=Description for sample script goes here
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/update_dns.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
